<div class="user-login">
  <%= form_for :user_login, url: {action: :login} do |f| %>
      <%= f.label 'Username' %>
      <%= f.text_field :username %>
      <%= f.label 'Password' %>
      <%= f.password_field :password %>
      <%= f.submit 'Login' %>
  <% end %>
  <%= link_to new_user_path do %>
    <div class="new-user-button">Create Account</div>
  <% end %>
</div>
