<div class="summary">
  <div>Client: <%= @project.client %></div>
  <div>Code: <%= @project.code %></div>
  <div>Team: <%= @project.team.display_string %></div>
  <br>
  <h4>Story Cards</h4>

</div>

  <div class="selected-project-story-cards">
    <ul>
      <% @project.story_cards.each do |each_story_card| %>
          <li>
            <%= link_to user_project_story_card_path(@user.id, @project.id, each_story_card.id) do %>
                <div><%= each_story_card.display_string %></div>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>