<div class="summary">
  <div class="summary-title">Summary</div>
  <%= summary_div_for @timesheet.current_activity %>
</div>
<h1>Activities</h1>
<ul>
  <% @timesheet.days.each do |each_day| %>
      <li class="activity-list">
        <div class="day-header"><%= each_day.display_string %></div>
        <ul class="invisible">
          <% each_day.activities.each do |each_activity| %>
              <li>
                <%= link_to edit_user_timesheet_activity_path(@user.id, @timesheet.id, each_activity.id) do %>
                    <div>
                      <%= each_activity.display_string %>
                    </div>
                <% end %>
              </li>
          <% end %>
        </ul>
      </li>
  <% end %>
  <li>
    <%= link_to new_activity_for_timesheet_path(@user.id, @timesheet.id, @user.current_project.id) do %>
        <div class="new-button">+</div>
    <% end %>
  </li>
</ul>
<script>
  $(document).ready(TimesheetListController.initialize());
</script>

<% content_for :buttons_bar do %>
    <%= link_to new_user_timesheet_activity_path(@user.id, @timesheet.id) do %>
        <div class="add-button">Create Activity</div>
    <% end %>
    <%= link_to timesheet_csv_path(@user.id, @timesheet.id) do %>
        <div class="delete-button">Download CSV</div>
    <% end %>
    <%= link_to user_timesheet_path(@user.id, @timesheet.id), method: :delete do %>
        <div class="delete-button">Delete</div>
    <% end %>
<% end %>
