<div class="summary">
  <div class="summary-title">Summary</div>
  <%= summary_div_for @timesheet.current_activity %>
</div>
<h1>Activities</h1>
<ul>
  <% @timesheet.activities.each do |each_activity| %>
    <li>
      <%= link_to edit_user_timesheet_activity_path(@user.id, @timesheet.id, each_activity.id) do %>
        <div>
          <%= each_activity.display_string %>
        </div>
      <% end %>
    </li>
  <% end %>
  <li>
    <%= link_to user_story_card_select_path(@user.id) do %>
        <div class="new-button">+</div>
    <% end %>
  </li>
</ul>

<% content_for :buttons_bar do %>
    <%= link_to new_user_timesheet_activity_path(@user.id, @timesheet.id) do %>
        <div class="add-button">Create Activity</div>
    <% end %>
    <%= link_to user_timesheets_path(@user.id), method: :delete do %>
        <div class="delete-button">Delete</div>
    <% end %>
<% end %>
