<div id="change-form" class="change">
  <%= form_for @story_card, url: @submit_path do |f| %>
        <%= f.label 'Title:' %>
        <%= f.text_field :title %>
        <%= f.label 'Number:' %>
        <%= f.text_field :number %>
        <%= f.label 'Estimate:' %>
        <%= f.text_field :estimate %>
        <%= f.label 'Project:' %>
        <%= f.collection_select(:project_id, Project.order(:name), :id, :name) %>
        <%= f.label 'Description:' %>
        <%= f.text_area :description %>
      <div class="change-buttons">
        <%= f.submit 'Save' %>
      </div>
  <% end %>
</div>