<div class="project-select">
  <%= form_for :project_select, url: user_project_story_cards_path(@user.id, params[:project_id]), method: :get do |f| %>
    <%= f.collection_select(:selected_project, @projects, :id, :name, {:selected => @project.id}, :onchange => "this.form.submit()", selected: @project) %>
  <% end %>
</div>
<div class="selected-project-story-cards">
  <ul>
    <% @story_cards.each do |each_story_card| %>
        <li>
          <%= link_to user_project_story_card_path(@user.id, each_story_card.project_id, each_story_card.id) do %>
              <div>
                <%= each_story_card.display_string %>
              </div>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<% content_for :buttons_bar do %>
    <%= link_to new_user_project_story_card_path(@user.id, @user.current_project.id) do %>
        <div class="add-button">+</div>
    <% end %>
<% end %>