<div class="summary">
  <div>        Time: <%= @activity.total_time %></div>
  <div>Time on Card: <%= @activity.story_card.billable_hours %></div>
  <div>     Project: <%= @activity.project.name %></div>
  <h4>Start:</h4>
  <div><%= @activity.start_time.strftime("%I:%M") %></div>
  <h4>End:</h4>
  <div>
    <%= @activity.end_time.nil? ? '--' : @activity.start_time.strftime("%I:%M") %>
  </div>
  <h4>Story Card</h4>
  <%= link_to user_project_story_card_path(@user.id, @activity.project.id, @activity.story_card_id) do %>
      <div>
        <%= @activity.story_card.display_string %>
      </div>
  <% end %>
</div>