<% content_for :specific_scripts do %>
    <% change_page = render('change') %>
    <% display_page = render('display') %>

    <script type="text/javascript">
        document.addEventListener("page:restore", function() {
            EditableModelController.initialize('<%= j change_page %>', '<%= j display_page %>');
        });
        $(document).ready(function(){
            EditableModelController.initialize('<%= j change_page %>', '<%= j display_page %>')
        });
    </script>
<% end %>

<% content_for :buttons_bar do %>
    <%= link_to user_timesheet_activity_path(@user.id, @activity.timesheet_id, @activity.id), method: :DELETE do %>
        <div class="delete-button">Delete</div>
    <% end %>
<% end %>

<div id="model-content"></div>
<div id="edit-model-button" class="edit-button">Edit</div>
