<% change_page = render('change') %>
<% display_page = render('display') %>

<% content_for :specific_scripts do %>
    <%= javascript_include_tag 'activities' %>
    <script type="text/javascript">
        document.addEventListener("page:restore", function() {
            alert('page restore');
            EditableActivityController.initialize('<%= j change_page %>', '<%= j display_page %>');
        });
    </script>
<% end %>

<% content_for :buttons_bar do %>
    <%= link_to user_timesheet_activity_path(@user.id, @activity.timesheet_id, @activity.id), method: :DELETE do %>
        <div class="delete-button">Delete</div>
    <% end %>
<% end %>

<div id="activity-content"></div>
<div id="edit-activity-button" class="edit-button">Edit</div>

<script type="text/javascript">
  alert('ready');
    $(document).ready(EditableActivityController.initialize('<%= j change_page %>', '<%= j display_page %>'));
</script>