<div id="menu-dropdown" class="invisible">
  <%= link_to user_timesheets_path(@user.id) do %>
      <div class="menu-dropdown-option">Timesheets</div>
  <% end %>
  <%= link_to user_project_story_cards_path(@user.id, @user.current_project.id) do %>
      <div class="menu-dropdown-option">Story Cards</div>
  <% end %>
  <%= link_to user_statements_of_work_path(@user.id) do %>
      <div class="menu-dropdown-option">SOWs</div>
  <% end %>
  <%= link_to user_projects_path(@user.id) do %>
      <div class="menu-dropdown-option">Projects</div>
  <% end %>
  <%= link_to user_logout_path(@user.id) do %>
      <div class="menu-dropdown-option">Logout</div>
  <% end %>
</div>