<!DOCTYPE html>
<html>
<head>
  <title>Timekeeper20</title>
  <meta name="viewport" content="width=568">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="menu-bar">
      <%= render 'layouts/menu_bar' %>
    </div>
    <div id="menu-dropdown" class="invisible">
      <%= render 'layouts/menu_bar_dropdown' %>
    </div>
    <div id="page-body">
      <%= yield %>
    </div>
    <div id="buttons-bar-popup" class="invisible">
      <%= yield(:buttons_bar) %>
    </div>
    <div id="buttons-bar">
      <i id="buttons-menu-icon" class="fa fa-bars w3-xxxlarge"></i>
    </div>
    <script type="text/javascript">
      MenubarController.initialize();
      ButtonBarController.initialize();
    </script>
</body>
</html>
