<!DOCTYPE html>
<html>
<head>
  <title>Timekeeper20</title>
  <meta name="viewport" content="width=568">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      document.addEventListener("page:restore", function() {
          MenubarController.initialize();
          ButtonBarController.initialize();
      });
  </script>
</head>
<body>
    <%= render 'layouts/menu_bar' %>
    <%= render 'layouts/menu_bar_dropdown' %>
    <div id="page-body">
      <%= yield %>
    </div>
    <div id="buttons-bar-popup" class="invisible">
      <%= yield(:buttons_bar) %>
    </div>
    <%= render 'layouts/buttons_bar' %>
    <script type="text/javascript">
        MenubarController.initialize();
        ButtonBarController.initialize();
    </script>
    <%= yield(:specific_scripts) %>
</body>
</html>
